@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 1.5;
    color: #222328;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}

/* comm */
.blind {
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
    overflow: hidden;
}



.model-wrap {
    background-color: rgba(0, 0, 0, 0.733);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 110;
    display: none;
    justify-content: center;
    align-items: center;

}

.model-wrap .inner {
    width: 668px;
    height: 553px;
    position: relative;
}

.model-wrap img {
    border-radius: 33px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.model-wrap button {
    position: absolute;
    top: -20px;
    right: -20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.model-wrap .las {
    display: block;
    font-size: 2em;

}


/* 비활성화 탭 */
.tab .tit-tab a {
    display: block;
    height: 50px;
    background-color: #eee;
    border-bottom: 2px solid midnightblue;
    text-align: center;
    line-height: 50px;
}

/* 활성화 탭 */
.tab .on .tit-tab a {
    background-color: midnightblue;
    color: #fff;
}

.tab .on .cont-tab {
    display: block;
}

.tab .cont-tab {
    position: absolute;
    top: 55px;
    left: 0;
    display: none;
}


.wrap {
    width: 1200px;
    margin: 0 auto;
}

header {
    height: 100px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    position: relative;
}

/* 로고 */
.logo>a {
    display: block;
    height: 100px;
    width: 125px;
    text-indent: -9999px;
    background: url(../images/logo-kakaoi.svg) 0 50% no-repeat;
}

footer .logo {
    margin-left: 10px;
}

/* 네비게이션 */

NAV {
    /* width: 40%; */
    display: flex;
    align-items: center;
    /* margin-right: -40px; */
}


.nav-depth1>li>a {
    display: block;
    height: 100px;
    padding: 0 40px;
    /* background-color: rgba(255, 0, 0, 0.5); */
    line-height: 100px;
    /* text 수직 가운데 정렬 하고 싶으면 line height 값 높이 값만큼 넣어주기 */
}

.nav-depth1>li:hover>a {
    color: orange;
    border-bottom: 3px solid orange;
}

.nav-depth1 {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.nav-depth1>li {
    position: relative;
}

/* mouse-out일때 */
.nav-depth2 {
    /* display: none; */
    position: absolute;
    top: 100px;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-top: 0;
    text-align: center;
    transition: all 0.5s;
}

.nav-bg {
    /* display: none; */
    position: absolute;
    top: 100px;
    left: 0;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.815);
    border-top: 1px solid #eee;
    width: 100%;
    height: 0;
    transition: height 0.5s;
}

/* mous-hover일때 */
nav:hover .nav-depth2 {
    height: 130px;
    padding-top: 10px;
}

nav:hover .nav-bg {
    height: 140px;
}


.nav-depth2 a {
    display: block;
    padding: 5px 0;
}

.nav-depth2 a:hover {
    background-color: orange;
}




/* 슬라이드 */
.slide {
    position: relative;
    height: 300px;
    overflow: hidden;
}

.slide ul {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
}

/* 컨테이너 */
.container {
    display: flex;
    justify-content: space-between;
    height: 200px;
    padding: 10px 0;
}

.container .tab,
.container>section {
    width: 30%;
}

/* 컨테이너-공지사항 */

.container .tab {
    display: flex;
    position: relative;
    width: 360px;
}

.sec-bbs {
    width: 50%;
}

.sec-bbs .cont-tab a {
    display: block;
    width: 255px;
    padding: 6px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sec-bbs .cont-tab a::before {
    content: '';
    width: 5px;
    height: 5px;
    background: orange;
    display: inline-block;
    margin: -4px 5px 0 0;
    vertical-align: middle;
}



/* 컨테이너-갤러리 */

.sec-gallery {
    width: 50%;
}

.sec-gallery ul {
    display: flex;
    justify-content: space-between;
}

.sec-gallery li {
    width: 30%;
}

.sec-gallery a {
    display: block;
}

.sec-gallery img {
    width: 100%;
    height: 125px;
    object-fit: cover;
    object-position: 80% 50%;
}

/* 컨테이너-배너 */
.sec-bnr img {
    width: 360px;
    height: 180px;
    object-fit: cover;
    object-position: 50% 50%;
}

.sec-bnr a {
    display: block;
}



/* 컨테이너-바로가기 */

.sec-goto .cont {
    height: 100%;
    display: flex;
    align-items: center;
}

.sec-goto .list-goto {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.sec-goto .list-goto li {
    width: 50%;
    margin-bottom: 30px;
}

.sec-goto a {
    display: block;
    height: 50px;
    padding-left: 60px;
    line-height: 50px;
    background-position: 0 0;
    background-repeat: no-repeat;

}

.sec-goto li:first-child a {
    background-image: url(../images/ico-goto1.png);
}

.sec-goto li:nth-child(2) a {
    background-image: url(../images/ico-goto2.png);
}

.sec-goto li:nth-child(3) a {
    background-image: url(../images/ico-goto3.png);
}

.sec-goto li:last-child a {
    background-image: url(../images/ico-goto4.png);
}



/* 푸터 */
footer {
    background: #999;
    display: flex;
    justify-content: space-between;
}

.copyright {
    padding: 40px;
    color: #fff;
}

.list-sns {
    display: flex;
    margin-top: 20px;
}

.list-sns a {
    display: block;
    padding: 20px;
    color: #fff;

}