* {
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
  color: #222328;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #ffffff;
}

.blind {
  font-size: 0;
  height: 0;
  text-indent: -9999px;
  overflow: hidden;
}

header {
  width: 100%;
  height: 100px;
  background-color: #003e7e;
}

header .header-wrap {
  width: 1200px;
  height: 100px;
  margin: 0 auto;
}

.main {
  width: 1200px;
  margin: 0 auto;
}

.main .slide {
  height: 300px;
}

.main .contents {
  height: 200px;
}

footer {
  width: 100%;
  height: 100px;
  background-color: #333;
}

footer .footer-group {
  width: 1200px;
  height: 100px;
  margin: 0 auto;
}

.header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header-wrap .logo a {
  display: block;
  background-image: url(../images/logo-w.png);
  background-repeat: no-repeat;
  width: 200px;
  height: 40px;
  text-indent: -9999px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .nav-depth1 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .nav-depth1 > li {
  position: relative;
}

nav .nav-depth1 > li:hover > a {
  color: #ffffff;
  border-bottom: 3px solid #737373;
}

nav .nav-depth1 > li > a {
  display: block;
  height: 100px;
  line-height: 100px;
  padding: 0 60px;
}

.nav-bg {
  background-color: #000000a4;
  position: absolute;
  top: 100px;
  left: 0;
  height: 0px;
  width: 100%;
  -webkit-transition: height 1s;
  transition: height 1s;
  z-index: 50;
}

.nav-depth2 {
  width: 100%;
  text-align: center;
  height: 0px;
  overflow: hidden;
  position: absolute;
  top: 100px;
  left: 0;
  padding: 5px 6px;
  -webkit-transition: all 1s;
  transition: all 1s;
  z-index: 60;
}

.nav-depth2 a {
  display: block;
  padding: 5px 0;
  color: #ccc;
}

nav:hover .nav-bg {
  height: 150px;
}

nav:hover .nav-depth2 {
  height: 140px;
}

.nav-depth2 a:hover {
  background-color: #003e7e;
  color: #ffffff;
}

.slide {
  position: relative;
}

.slide ul li {
  position: relative;
  position: absolute;
  top: 0;
  left: 0;
}

.slide ul li span {
  position: absolute;
  top: 150px;
  left: 410px;
  background-color: #ffffff9a;
  font-size: 2em;
}

.contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contents > section {
  width: 33%;
  padding: 5px 0;
}

.contents .sec-tit {
  width: 100px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #eee;
  border-bottom-right-radius: 17px;
}

.sec-bbs .cont {
  border-top: 1px solid #eee;
}

.sec-bbs .cont ul {
  padding-top: 10px;
}

.sec-bbs .cont ul li {
  padding: 5px 0;
}

.sec-bbs .cont ul li::before {
  content: "";
  width: 5px;
  height: 5px;
  background-color: #003e7e;
  display: inline-block;
  vertical-align: middle;
}

.sec-bbs .cont ul li a {
  padding-left: 5px;
}

.sec-gallary .cont {
  border-top: 1px solid #eee;
}

.sec-gallary .cont ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 30px;
}

.sec-gallary .cont ul li a {
  display: block;
}

.sec-gallary .cont ul li img:hover {
  -webkit-transform: translate(2px, 3px);
          transform: translate(2px, 3px);
}

.sec-bnr .cont {
  position: relative;
}

.sec-bnr .cont a {
  display: block;
}

.sec-bnr .cont a img {
  width: 100%;
  height: 190px;
}

.sec-bnr .cont .bnr-bg {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.575);
  height: 190px;
  width: 100%;
  text-align: center;
  line-height: 190px;
  font-size: 2em;
  color: #003e7e;
  cursor: pointer;
  display: none;
  overflow: hidden;
}

.sec-bnr .cont:hover .bnr-bg {
  display: block;
}

.footer-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-wrp .footer-group {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-wrp .familly-site {
  width: 20%;
}

.footer-group .under-menu {
  padding: 5px 0;
}

.footer-group .under-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer-group .under-menu ul a {
  color: #aaa;
  display: block;
}

.footer-group .under-menu ul a:hover {
  color: #ffffff;
}

.footer-group .copyright {
  padding: 5px 0;
  text-align: center;
  color: #aaa;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.568);
  z-index: 90;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal .modal-inn {
  width: 300px;
  height: 410px;
  border-radius: 70px;
  background-color: #003e7e;
  position: relative;
}

.modal .modal-inn h2 {
  color: #ffffff;
  font-size: 1.5em;
  text-align: center;
  padding: 60px 0;
}

.modal .modal-inn p {
  color: #aaa;
  padding: 0 20px;
}

.modal .modal-inn input {
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 30px;
  background-color: #737373;
  cursor: pointer;
  position: absolute;
  bottom: 60px;
  left: 100px;
}
/*# sourceMappingURL=comm.css.map */