* {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  color: #333333;
  text-decoration: none;
}

.blind {
  text-indent: -9999px;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
}

.clearfix {
  content: "";
  text-indent: -9999px;
  clear: both;
  overflow: hidden;
}

.wrap {
  width: 1200px;
  margin: 0 auto;
}

header {
  height: 100px;
  background-color: #3cb149;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

header .logo {
  padding-top: 30px;
}

header .logo a {
  display: block;
  width: 200px;
  height: 40px;
  background-image: url(../image/logo.png);
  background-repeat: no-repeat;
  text-indent: -9999px;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav .nav-bg {
  position: absolute;
  top: 100px;
  left: 0;
  background-color: #ffffffbb;
  z-index: 80;
  width: 100%;
  height: 0;
}

header nav .nav-depth1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

header nav .nav-depth1 > li {
  position: relative;
}

header nav .nav-depth1 > li:hover > a {
  color: #ffffff;
}

header nav .nav-depth1 > li > a {
  display: block;
  padding: 0 40px;
  height: 100px;
  line-height: 100px;
}

header nav .nav-depth2 {
  position: absolute;
  top: 120px;
  left: 0;
  z-index: 110;
  width: 100%;
  text-align: center;
  overflow: hidden;
  height: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

header nav .nav-depth2 a {
  display: block;
  margin: 8px 0;
}

nav:hover .nav-bg {
  height: 130px;
}

nav:hover .nav-depth2 {
  height: 100px;
}

.nav-depth2 a:hover {
  background-color: #3cb149;
  color: #ffffff;
}

.slide {
  height: 300px;
  overflow: hidden;
  position: relative;
}

.slide ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}

.main {
  width: 100%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0;
}

.main .sec-bbs {
  width: 33%;
}

.main .sec-gallary {
  width: 33%;
}

.main .bnr {
  width: 33%;
}

.sec-tit {
  display: block;
  width: 100px;
  height: 30px;
  background-color: #434748;
  color: #ffffff;
  text-align: center;
  line-height: 30px;
}

.sec-bbs .cont {
  border-top: 1px solid #434748;
  padding: 10px 0 16px 0;
}

.sec-bbs .cont li {
  padding: 5px 0;
}

.sec-bbs .cont li::before {
  content: "";
  width: 5px;
  height: 5px;
  display: inline-block;
  vertical-align: middle;
  background: #3cb149;
  margin-right: 10px;
}

.sec-gallary .cont {
  border-top: 1px solid #434748;
  padding-top: 31px;
}

.sec-gallary .cont ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sec-gallary .cont ul li {
  width: 30%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}

.sec-gallary .cont ul li a {
  display: block;
}

.sec-gallary .cont ul li img {
  width: 100%;
}

.bnr img {
  width: 100%;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}

.bnr a {
  display: block;
}

footer {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #434748;
}

footer .logo-f a {
  display: block;
  width: 200px;
  height: 40px;
  background-image: url(../image/footerLogo.png);
  background-repeat: no-repeat;
  text-indent: -9999px;
}

footer .familly-goto ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .familly-goto ul li {
  padding-right: 20px;
}

#modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #333333be;
  display: none;
}

#modal .inner {
  width: 400px;
  height: 400px;
  background-color: #fff;
  position: relative;
}

#modal .inner section {
  text-align: center;
  padding-top: 60px;
}

#modal .inner section h2 {
  font-size: 20px;
}

#modal .inner section article {
  width: 300px;
  margin: 0 auto;
  line-height: 35px;
  padding-top: 20px;
}

#modal .inner input {
  width: 180px;
  height: 40px;
  display: block;
  background-color: #3cb149;
  border: none;
  position: absolute;
  top: 310px;
  left: 110px;
  cursor: pointer;
}
/*# sourceMappingURL=comm.css.map */